<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
</head>
<body>
    <div class="conteiner">
        <div class="textarea">
            <textarea disabled name="textarea"  rows="10" cols="50"></textarea>
        </div>
        <div class="imputs">
            <p>ingresa el mensaje</p>
            <input type="text" value="Type here" />

            <button type="button" value="Enviar">Enviar</button>
        </div>
    </div>
</body>
</html>